/*
* vim: ft=less
*/

@define-color sn-accent-color     @accent_color;
@define-color sn-accent-bg-color  @accent_bg_color;

@define-color sn-bg               @view_bg_color;
@define-color sn-bg-darker        darker(@sn-bg);
@define-color sn-bg-focus         mix(@sn-accent-color, @sn-bg, 0.7);
@define-color sn-bg-hover         mix(@sn-accent-color, @sn-bg, 0.7);
@define-color sn-border           @shade_color;
@define-color sn-text             @view_fg_color;
@define-color sn-text-disable     darker(@view_fg_color);

* {
	font-family: Rubik, Symbols Nerd Font Mono, FontAwesome;
	color: @sn-text;
}

.notification-row {
	outline: none;
}

.notification-row:focus,
.notification-row:hover {
	background: shade(@sn-bg, 0.8);
	border-radius: 30px;
}

.notification {
	border-radius: 10px;
	margin: 6px 12px;
	padding: 0;
}

/* Uncomment to enable specific urgency colors
.low {
	background: yellow;
	padding: 6px;
	border-radius: 12px;
}

.normal {
	background: green;
	padding: 6px;
	border-radius: 12px;
}

.critical {
	background: red;
	padding: 6px;
	border-radius: 12px;
}
*/

.notification-content {
	background: transparent;
	padding: 10px;
	border-radius: 12px;
}

.close-button {
	background: @sn-bg-darker;
	color: @sn-text;
	text-shadow: none;
	padding: 0;
	border-radius: 100%;
	margin-top: 10px;
	margin-right: 16px;
	box-shadow: none;
	border: none;
	min-width: 24px;
	min-height: 24px;
}

.close-button:hover {
	box-shadow: none;
	background: mix(@sn-accent-color, @sn-bg-darker, 0.8);
	transition: all 0.15s ease-in-out;
	border: none;
}

.notification-default-action,
.notification-action {
	padding: 4px;
	margin: 0;
	box-shadow: none;
	background: lighter(@sn-bg-darker);
	border: 1px solid @sn-border;
	color: @text-color;
	transition: all 0.15s ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
	-gtk-icon-effect: none;
	background: @sn-bg-hover;
}

.notification-default-action {
	border-radius: 12px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.notification-action {
	border-radius: 0px;
	border-top: none;
	border-right: none;
	padding: 0px;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
	border-bottom-left-radius: 10px;
}

.notification-action:last-child {
	border-bottom-right-radius: 10px;
	border-right: 1px solid @sn-border;
}

.inline-reply {
	margin-top: 8px;
}
.inline-reply-entry {
	background: @sn-bg-darker;
	color: @sn-text;
	caret-color: @sn-text;
	border: 1px solid @sn-border;
	border-radius: 12px;
}
.inline-reply-button {
	margin-left: 4px;
	background: @noti-bg;
	border: 1px solid @sn-border;
	border-radius: 12px;
	color: @sn-text;
}
.inline-reply-button:disabled {
	background: initial;
	color: @sn-text-disable;
	border: 1px solid transparent;
}
.inline-reply-button:hover {
	background: @sn-bg-hover;
}

.image {}

.body-image {
	margin-top: 6px;
	background-color: white;
	border-radius: 12px;
}

.summary {
	font-size: 16px;
	font-weight: bold;
	background: transparent;
	color: @sn-text;
	text-shadow: none;
}

.time {
	font-size: 13px;
	font-weight: bold;
	background: transparent;
	color: @sn-text;
	text-shadow: none;
	margin-right: 1px;
}

.body {
	font-size: 15px;
	font-weight: normal;
	background: transparent;
	color: @sn-text;
	text-shadow: none;
}

.control-center {
	background: @sn-bg;
	border: solid 1px @sn-border;
	border-radius: 30px;
	padding: 10px;
}

.control-center-list {
	background: transparent;
}

.control-center-list-placeholder {
	opacity: 0.5;
}

.floating-notifications {
	background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
	background: alpha(black, 0.25);
}

/*** Widgets ***/

/* Title widget */
.widget-title {
	margin: 8px;
	font-size: 1.3rem;
}
.widget-title > button {
	font-size: initial;
	color: @sn-text;
	text-shadow: none;
	background: @sn-bg-darker;
	border: 1px solid @sn-border;
	box-shadow: none;
	border-radius: 12px;
}
.widget-title > button:hover {
	background: @sn-bg-hover;
}

/* DND widget */
.widget-dnd {
	margin: 8px;
	font-size: 1.1rem;
}
.widget-dnd > switch {
	font-size: initial;
	border-radius: 12px;
	background: @sn-bg;
	border: 1px solid @sn-border;
	box-shadow: none;
}
.widget-dnd > switch:checked {
	background: @bg-selected;
}
.widget-dnd > switch slider {
	background: @sn-bg-hover;
	border-radius: 12px;
}

/* Label widget */
.widget-label {
	margin: 8px;
}
.widget-label > label {
	font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
	/* The parent to all players */
}
.widget-mpris-player {
	background: @sn-bg-darker;
	padding: 8px;
	margin: 8px 0px;
	border-radius: 12px;
}
.widget-mpris-title {
	font-weight: bold;
	font-size: 1.10rem;
}
.widget-mpris-subtitle {
	font-size: 0.7rem;
}

/* Buttons widget */
.widget-buttons-grid {
	background: transparent;
	padding: 0px;
	margin: 0px;
	border-radius: 12px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
	background: @sn-bg-darker;
	border-radius: 12px;
	border: 1px solid @sn-border;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
	background: @sn-bg-hover;
	border: 1px solid @sn-accent-bg-color;
}

/* Menubar widget */
.widget-menubar > box > .menu-button-bar > button {
	border: none;
	background: @sn-bg-darker;
	margin: 5px 3px;
	border: 1px solid @sn-border;
}
.widget-menubar > box > .menu-button-bar > button:focus {
	background: @sn-bg-focus;
	border: 1px solid @sn-accent-bg-color;
}

/* .AnyName { Name defined in config after #
	background-color: @noti-bg;
	padding: 8px;
	margin: 8px;
	border-radius: 12px;
}

.AnyName>button {
	background: transparent;
	border: none;
}

.AnyName>button:hover {
	background-color: @noti-bg-hover;
} */

.topbar-buttons > button { /* Name defined in config after # */
	border: none;
	background: transparent;
}

/* Volume widget */

.widget-volume {
	background-color: @sn-bg;
	padding: 8px;
	margin: 8px;
	border-radius: 15px;
}

.widget-volume > box > button {
	background: transparent;
	border: none;
}

.per-app-volume {
	background-color: @sn-accent;
	padding: 4px 8px 8px 8px;
	margin: 0px 8px 8px 8px;
	border-radius: 12px
}

/* Backlight widget */
.widget-backlight {
	background-color: @sn-bg;
	padding: 8px;
	margin: 8px;
	border-radius: 12px;
}

/* Title widget */
.widget-inhibitors {
	margin: 8px;
	font-size: 1.5rem;
}
.widget-inhibitors > button {
	font-size: initial;
	color: @sn-text;
	text-shadow: none;
	background: @sn-bg;
	border: 1px solid @sn-border;
	box-shadow: none;
	border-radius: 12px;
}
.widget-inhibitors > button:hover {
	background: @sn-bg-hover;
}

.app-buttons,
.screenshot-buttons,
.screencast-buttons,
.power-buttons,
.config-buttons {
	margin: 5px 10px;
	padding: 3px;
	border: 1px solid @sn-border;
	border-radius: 5px;
}

.app-buttons > button,
.screenshot-buttons > button,
.screencast-buttons > button,
.power-buttons > button,
.config-buttons > button {
	border-radius: 0px;
	background: @sn-bg-darker;
	border: 1px solid lighter(@sn-border);
}

.app-buttons > button:hover,
.screenshot-buttons > button:hover,
.screencast-buttons > button:hover,
.power-buttons > button:hover,
.config-buttons > button:hover {
	border-radius: 5px;
	background: @sn-bg-hover;
}
