@import "themes/macchiato.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-size: 15px;
    font-family: FontAwesome, Symbols Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
	background-color: @base;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 5px 10px;
    color: @text;
}
#workspaces button.focused {
    color: #24283b;
    background-color: @blue;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: @sky;
	color: #24283b;
	border-radius: 5px;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
	background-color: @base;
	padding: 5px 10px;
	margin: 5px 0px;
}

#tray {
	background-color: @base;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
	border-radius: 5px;
}

#custom-date {
	color: @base;
}

#custom-power {
	color: #24283b;
	background-color: @red;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#clock {
    color: @pink;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    background-color: @flamingo;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
}

#network {
	color: @red;
	border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
	color: @yellow;
}
