@import "themes/macchiato.css";

* {
    font-family: Symbols Nerd Font Mono, FontAwesome;
    font-size: 15;
    border-radius: 30px;
}

window#waybar {
    background: transparent;
}

#workspaces {
	background-color: @base;
}
#workspaces button {
    color: @text;
}
#workspaces button.focused {
    color: @crust;
    background-color: @blue;
}
#workspaces button:hover {
	background-color: @sky;
	color: @crust;
}

#custom-date, 
#custom-launcher, 
#custom-power,
#bluetooth,
#clock,
#battery, 
#pulseaudio, 
#network, 
#memory,
#tray {
	background-color: @base;
	padding: 0px 10px;
	margin: 0px 2px;
}

#tray {
	margin-right: 5px;
}

#custom-power {
	color: @crust;
	background-color: @red;
	margin-left: 10px;
}

#custom-launcher {
	color: @text;
	padding: 0px 10px;
}

#clock {
    color: @pink;
}

#battery {
    color: @teal;
}
#battery.charging {
    color: @green;
}
#battery.warning:not(.charging) {
    color: @flamingo;
}

#network {
	color: @red;
}

#pulseaudio {
	color: @yellow;
}
#pulseaudio.muted {
	color: gray;
}

#mpris {
	color: @mauve;
}
#mpris.playing {
	background-color: @base;
	padding: 0px 10px;
	margin: 0px 2px;
}
#mpris.paused {
	background-color: @base;
	padding: 0px 10px;
	margin: 0px 2px;
}
#mpris.stopped {
	background-color: @base;
	padding: 0px 10px;
	margin: 0px 2px;
}

#memory {
	color: @teal;
}
