@import "themes/macchiato.css";

* {
    font-family: Symbols Nerd Font Mono, FontAwesome;
    font-size: 15;
}

window#waybar {
    background: transparent;
}

#workspaces {
	background-color: @base;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 5px 10px;
    color: @text;
}
#workspaces button.focused {
    color: @crust;
    background-color: @blue;
    border-radius: 5px;
}
#workspaces button:hover {
	background-color: @sky;
	color: @crust;
	border-radius: 5px;
}

#custom-date, #custom-launcher, #clock, #battery, #pulseaudio, #network {
	background-color: @base;
	padding: 5px 10px;
	margin: 5px 0px;
}

#tray {
	background-color: @base;
	margin: 5px 10px 5px 5px;
	padding: 5px 10px;
	border-radius: 5px;
}

#custom-power {
	color: @crust;
	background-color: @red;
	padding: 5px 10px;
	margin: 5px 10px 5px 5px;
	border-radius: 5px;
}

#custom-launcher {
	color: @text;

	border-radius: 5px;
}

#clock {
    color: @pink;
    margin-right: 10px;
    border-radius: 0px 5px 5px 0px;
}

#battery {
    color: @teal;
}
#battery.charging {
    color: @green;
}
#battery.warning:not(.charging) {
    color: @flamingo;
}

#network {
	color: @red;
	border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
	color: @yellow;
}
