[Desktop Entry]
Type=Action
Profiles=pywal
Name=Set as wallpaper (Pywal)
Name[es]=Establecer como fondo de escritorio (Pywal)
Icon=preferences-desktop-wallpaper
 
[X-Action-Profile pywal]
MimeTypes=image/jpeg;image/png
Exec=wal -qts -i %f
