@define-color wf-accent-color @accent_color;
@define-color wf-accent-bg-color @accent_bg_color;

@define-color wf-text @window_fg_color;
@define-color wf-background @window_bg_color;
@define-color wf-border @shade_color;

* {
  color: @wf-text;
}

#window {
  background: @wf-background;
  border-radius: 25px;
  border: 3px solid @wf-border;
}

#input {
  margin-bottom: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 10px;
}

#entry {
  padding: 5px;
  border-radius: 15px;
}

#entry:selected {
  background: mix(@wf-background, @wf-accent-color, 0.5);
}

#text {
  margin: 2px;
}
