[Desktop Entry]
Type=Action
Profiles=wallpaper
Name=Set as wallpaper
Name[es]=Establecer como fondo de escritorio
Icon=preferences-desktop-wallpaper
OnlyShowIn=sway;
 
[X-Action-Profile wallpaper]
MimeTypes=image/jpeg;image/png
Exec=sh -c "cp -f %f $HOME/.config/background && pkill swaybg && swaybg -i $HOME/.config/background"
